<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBTM-_pN17SgGG5mxfnlM8k7PLbGGlsZSg</string>
	<key>GCM_SENDER_ID</key>
	<string>32540899377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterTaxiTigui.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>taxi-tigui-403912</string>
	<key>STORAGE_BUCKET</key>
	<string>taxi-tigui-403912.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:32540899377:ios:22746fc6b8b0f0e0ccbd10</string>
</dict>
</plist>